<div class="px-4 mb-4">
    <h3>Categorias</h3>
    <p>Escolha uma categoria</p>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for categoria in categorias %}
        <a class="text-decoration-none" href="{% url 'livros_por_categoria' categoria.id %}">
            <div class="col">
                    <div class="card border-0" style="background-color: {{ categoria.cor }};" >
                        <div class="card-body">
                            <h5 class="card-title text-white text-center">{{ categoria.descricao }}</h5>
                        </div>
                    </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>