{% extends 'base.html' %}

{% block content %}
<h3>Meu perfil</h3>
<div class="row row-cols-md-3 g-4">
  <div class="list-group">
    <a href="{% url 'perfil' %}" class="list-group-item list-group-item-action" aria-current="true">Seus dados</a>
    <a href="{% url 'alterar_senha' %}" class="list-group-item list-group-item-action active">Alterar sua senha</a>
  </div>

  <form action="{% url 'alterar_senha' %}" method="POST">
    {% csrf_token %}
    <div class="col">
      {% include 'partials/_alertas.html' %}
        <h2>Bem vindo {{ user.username }}</h2>
      <div class="mb-3">
        <label for="senha_atual" class="form-label">Senha atual</label>
        <input type="password" class="form-control" name="senha_atual" value="" required>
      </div>
      <div class="mb-3">
        <label for="senha1" class="form-label">Nova Senha</label>
        <input type="password" class="form-control" name="senha1" value="" required >
      </div>
      <div class="mb-3">
        <label for="senha2" class="form-label">Confirmar senha</label>
        <input type="password" class="form-control" name="senha2" value="" required >
      </div>
    </div>
    <div>
    <button class="btn btn-success" type="submit"><i class="bi bi-check-lg"></i>Alterar Senha</button>
    </div>
  </form>
</div>
{% endblock %}