{% extends 'base.html' %}

{% block content %}
<h3>Meu perfil</h3>
<div class="row row-cols-md-3 g-4">
  <div class="list-group">
    <a href="{% url 'perfil' %}" class="list-group-item list-group-item-action active" aria-current="true">
      Seus dados
    </a>
    <a href="{% url 'alterar_senha' %}" class="list-group-item list-group-item-action">Alterar senha</a>
  </div>

  <form action="{% url 'perfil' %}" method="POST">
    {% csrf_token %}
    <div class="col">
      {% include 'partials/_alertas.html' %}
        <h2>Bem vindo {{ user.username }}</h2>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="nome" class="form-control" name="nome" value="{{ user.username }}" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="seunome@email.com" value="{{ user.email }}" required >
      </div>
      <div class="mb-3">
        <label class="form-label">Membro desde: {{ user.date_joined }}</label>
      </div>
    </div>
    <div>
    <button class="btn btn-success" type="submit"><i class="bi bi-check-lg"></i>
 Atualizar cadastro</button>
    </div>
  </form>
</div>
{% endblock %}