{% extends 'base.html' %}

{% block content %}

{% if livros %}
<div class="px-4 mb-4">
    <h3>Livros</h3>

{% include 'partials/_livro.html' %}
</div>
{% endif %}

{% if not autores and not livros%}
<p class="text-center">Nenhum resultado encontrado</p>
{% endif %}
    <script>
        $(document).ready(function() {
            $(".card").hover(
            function() {
                $(this).addClass('shadow').css('cursor', 'pointer'); 
            }, function() {
                $(this).removeClass('shadow');
            }
            );
        });
    </script>
{% endblock %}